@(message: String)

@main("Login register") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
}{
    <div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
        <div class="effect_2 padding_slide1">
            <div class="container clearfix">

                <div id="content" class="grid_12">
                    <div class="filtr_bg">
                        <div class="slogan">
                            <div class="left_bord"></div>
                            <div class="slogan_text">7 & 8 Nov. 2013</div>
                            <div class="right_bord"></div>
                        </div>
                        <h1>JMaghreb 2.0</h1>
                        <h2>The bigest JAVA conference in north Africa</h2>
                        <div class="left_bord"></div>
                        <div class="button_block">
                            <div class="button_bg"></div>
                            <a class="button" onclick="window.location.href='#legend'" href="#legend">
                                Sign In / Sign UP<span></span></a>

                        </div>

                        <div class="right_bord"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

    </div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


    <div class="container" id="loginModal">
        <div>
            <h3>Have an Account?</h3>
        </div>
        <div >
            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
                    <li><a href="#resetPassword" data-toggle="tab">Reset Password</a></li>
                    <li><a href="#create" data-toggle="tab">Create Account</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="login">
                        <form class="form-horizontal" action='' method="POST" ng-controller="loginController">
                            <fieldset>
                                <div id="legend">
                                    <legend class="">Login into CFP portal</legend>
                                </div>
                                <div class="control-group" ng-show="message.msg != null">
                                    <div class="alert" ng-class="message.type">
                                        {{message.msg}}
                                    </div>
                                </div>

                                <div class="control-group">
                                        <!-- Username -->
                                    <label class="control-label" for="username" >Username</label>
                                    <div class="controls">
                                        <input type="email" id="username" name="username"  ng-model="login._id" placeholder="" class="input-xlarge">
                                    </div>
                                </div>

                                <div class="control-group">
                                        <!-- Password-->
                                    <label class="control-label" for="password">Password</label>
                                    <div class="controls">
                                        <input type="password" id="password" name="password" ng-model="login.password" placeholder="" class="input-xlarge">
                                    </div>
                                </div>


                                <div class="control-group">
                                        <!-- Button -->
                                    <div class="controls">
                                        <button class="btn" ng-click="doLogin()">Login</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="resetPassword">
                        <form class="form-horizontal" name="resetPasswordForm" action='' method="POST" ng-controller="loginController" novalidate>
                            <fieldset>
                                <div id="legend">
                                    <legend class="">Reset Password</legend>
                                </div>
                                <div class="control-group" ng-show="message.msg != null">
                                    <div class="alert" ng-class="message.type">
                                        {{message.msg}}
                                    </div>
                                </div>

                                <div class="control-group">
                                        <!-- Username -->
                                    <label class="control-label" for="usernamep" >Username</label>
                                    <div class="controls">
                                        <input type="email" id="usernamep" ng-required="true" name="username" ng-model="login._id" placeholder="" class="input-xlarge">
                                    </div>
                                </div>

                                <div class="control-group">
                                        <!-- Button -->
                                    <div class="controls">
                                        <button class="btn" ng-disabled="resetPasswordForm.$invalid" ng-click="resetPassword()">Reset Password</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="create">
                        <form id="registration" id="registration" name="registration" novalidate class="form-horizontal" action='' method="POST" ng-controller="registerController">
                            <fieldset>
                                <div id="legendRegistration">
                                    <legend class="">Speak In JMaghreb</legend>
                                </div>
                                <div class="control-group" ng-show="message.msg != null">
                                    <div class="alert" ng-class="message.type">
                                        {{message.msg}}
                                    </div>
                                </div>
                                <div class="control-group">
                                    All fields are required
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="fname">First Name</label>
                                    <div class="controls">
                                        <input type="text" id="fname" ng-required="true" ng-model="speaker.fname" class="input-xlarge">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="lname">Last Name</label>
                                    <div class="controls">
                                        <input type="text" id="lname" ng-required="true" ng-model="speaker.lname" class="input-xlarge">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="email">Email</label>
                                    <div class="controls">
                                        <input type="email" ng-required="true" id="email" required="true" ng-model="speaker._id" class="input-xlarge">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="bio">Bio</label>
                                    <div class="controls">
                                        <textarea rows="10" id="bio" ng-maxlength="1000" ng-model="speaker.bio" ng-required="true" class="input-xxlarge"></textarea>
                                        <div>1000 char.</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="bio">Picture</label>
                                    <div class="controls">
                                        <uploader id="picture" image="speaker.image" url="upload"></uploader>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="password">Password</label>
                                    <div class="controls">
                                        <input type="password" id="password" ng-required="true" ng-model="speaker.password" class="input-xlarge">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="cpassword">Confirm password</label>
                                    <div class="controls">
                                        <input type="password" id="cpassword" ng-required="true" ng-model="speaker.cpassword" class="input-xlarge">
                                    </div>
                                </div>
                                <div class="control-group">

                                    <div class="controls">
                                        <button class="btn" ng-disabled="registration.$invalid || (speaker.password != speaker.cpassword)" ng-click="createAccounte()">
                                            Create Account</button>
                                    </div>
                                </div>
                            </fieldset>
                            <div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container clearfix">
            <div class="copyright">JMaghreb &copy; 2013 | <a href="javascript:void(0);">Privacy Policy</a></div>
            <div id="back_top"><a class="button" title="" data-slide="1"></a></div>
        </div>
    </div>


}{

    <script src="@routes.Assets.at("javascripts/jquery.ui.widget.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.iframe-transport.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.fileupload.js")" type="text/javascript"></script>

}
