@(message: String)

@main("JMaghreb Call For Paper") {
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
} {
    <div class="container" id="loginModal" ng-controller="talksController">

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" id="brand" href="#">
                        <span>{{login.lname}} {{login.fname}} ({{login._id}})</span>
                    </a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="">
                                <a href="/">Home</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="span12">
                <br/>
                <br/>
                <br/>
                <br/>

                <form id="registration" id="registration" name="registration" novalidate class="form-horizontal" action='' method="POST" ng-controller="talksController">
                    <fieldset>
                        <div id="legendRegistration">
                            <legend class="">Speak In JMaghreb</legend>
                        </div>
                        <div class="control-group" ng-show="message.msg != null">
                            <div class="alert" ng-class="message.type">
                                {{message.msg}}
                            </div>
                        </div>
                        <div class="control-group">
                            All fields are required
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="password">Password</label>
                            <div class="controls">
                                <input type="password" id="password" ng-required="true" ng-model="login.password" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="cpassword">Confirm password</label>
                            <div class="controls">
                                <input type="password" id="cpassword" ng-required="true" ng-model="login.cpassword" class="input-xlarge">
                            </div>
                        </div>

                        <div class="control-group">

                            <div class="controls">
                                <button class="btn" ng-disabled="registration.$invalid || (login.password != login.cpassword)" ng-click="chnagePassword()">
                                    Save</button>
                            </div>
                        </div>
                    </fieldset>
                    <div>

                    </div>
                </form>
            </div>
        </div>

    </div>
}
